apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-main
  namespace: openshift-monitoring
type: Opaque
stringData:
  alertmanager.yaml: |-
    # Configuration file for alertmanager
    global:
      resolve_timeout: {{ .Values.alertManager.resolveTimeout }}

    # The root route on which each incoming alert enters.
    # The root route with all parameters, which are inherited by the child
    # routes if they are not overwritten.
    route:
      group_by: ['cluster', 'alertname']
      receiver: 'email'
      group_wait: {{ .Values.alertManager.groupWait }}
      group_interval: {{ .Values.alertManager.groupInterval }}
      repeat_interval: {{ .Values.alertManager.repeatInterval }}
      # All alerts that do not match the following child routes
      # will remain at the root node and be dispatched to 'default-receiver'.
      routes:
      - match:
          severity: 'automated_recovery_attempt'
        receiver: 'null'
    receivers:
    - name: 'null'
    - name: 'email'
      email_configs:
      - to: {{ .Values.alertManager.emailConfig.emailTo }}
        from: {{ .Values.alertManager.emailConfig.emailFrom }}
        smarthost: {{ .Values.alertManager.emailConfig.smartHost }}
        headers:
          From: {{ .Values.alertManager.emailConfig.emailFrom }}
          Subject: '[OKD4-{{ .Values.clusterName }}]{{`{{ template "email.default.subject" . }}`}}'
